html{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 2600px;
    margin: 0 auto;
}

body{
    background-image: url(../IMAGENES/imagen7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    position: relative;
}

main:first-of-type{
    position: absolute;
        top:5px;
        left: 80%;
}

main:first-of-type div{
    width: 244.39px; 
    height: 67.90px; 
    position: absolute; 
}

main:first-of-type button{
    width: 100%; 
    height: 67.90px; 
    position: absolute; 
    background: #D9D9D9
}

main:first-of-type p{
    left: 40px; 
    top:0px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-family: Literata; 
    font-weight: 300; 
    word-wrap: break-word
}

#LOGO{
    position: absolute;
}

#LOGO #fotologo {
    width: 100px;
    height: auto;
    position: absolute;
    top: -20px;
}

#LOGO p {
    display: inline;
    margin-left: 100px;
    font-size: 3rem;
}

#LOGO #LIFE {
    display: block;
    margin-top: 5px;
}

#CORREO{
    position: relative;
}

#CORREO div input[type="text"]{
    width: 646.09px; 
    height: 45px; 
    position: absolute;
        top: 350px; 
}

#CORREO div button{
    width: 180px; 
    height: 47px; 
    position: absolute;
        left: 700px;
        top: 350px;  
    background: #D9D9D9
}

#CORREO div{
    width: 610.47px; 
    height: 300.75px; 
    left: 0px; 
    top: 250px; 
    position: absolute
}

#CORREO span{
    color: white; 
    font-size: 60px; 
    font-family: Literata; 
    font-weight: 700; 
    word-wrap: break-word
}

#INVITADO{
    position: absolute;
        top:100px;
        left: 80%;
}

#INVITADO div{
    width: 244.39px; 
    height: 67.90px; 
    position: absolute; 
}

#INVITADO button{
    width: 100%; 
    height: 67.90px; 
    position: absolute; 
    background: #D9D9D9
}

#INVITADO p{
    left: 70px; 
    top:0px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-family: Literata; 
    font-weight: 300; 
    word-wrap: break-word
}

footer{
    position: absolute;
    margin-top: 44.5%;
    background-color: #C4C4C4;
    width: 100%;
    height: 60px;
}

footer img{
    position: relative;
        left:40%;
    width: 70px;
    height: 70px;
}

footer p{
    position: absolute;
    top: 0px;
    left: 45%;
    font-size: 1.4rem;
}

#imagenOculta {
    display: none;
}

#LOGO #fotologo2 {
    display: none;
}

@media screen and (min-width: 1905px) and (max-width: 7000px){

    main:first-of-type{
        position: absolute;
        top:10px;
        left:87%;
    }

    #INVITADO{
        position: absolute;
        top:100px;
        left:87%;
    }

    #CORREO div{
        width: 792px; 
        height: 100px; 
        position: absolute;
            top: 300px;
    }

    #CORREO div input[type="text"]{
        width: 646.09px; 
        height: 40px; 
        position: absolute;
            top: 400px; 
    }
    
    #CORREO div button{
        width: 180px; 
        height: 45px; 
        position: absolute;
            left: 700px;
            top: 400px;  
        background: #D9D9D9
    }

}

@media screen and (min-width: 800px) and (max-width: 1450px) { 
    body{
        margin-bottom: 400px;
    }

    main:first-of-type{
        position: absolute;
        top:10px;
        left:70%;
    }

    main:first-of-type button{
        width: 100%; 
        height: 60px; 
        position: absolute; 
        background: #D9D9D9
    }

    main:first-of-type p{
        left: 40px; 
        top:-5px; 
        position: absolute; 
        color: black; 
        font-size: 20px; 
        font-family: Literata; 
        font-weight: 300; 
        word-wrap: break-word
    }

    #INVITADO{
        position: absolute;
        top:100px;
        left:70%;
    }

    #INVITADO button{
        width: 100%; 
        height: 60px; 
        position: absolute; 
        background: #D9D9D9
    }

    #INVITADO p{
        left: 70px; 
        top:-5px; 
        position: absolute; 
        color: black; 
        font-size: 20px; 
        font-family: Literata; 
        font-weight: 300; 
        word-wrap: break-word
    }

    #CORREO div{
        width: 792px; 
        height: 100px; 
        position: absolute;
            top: 230px;
    }

    #CORREO div input[type="text"]{
        width: 646.09px; 
        height: 40px; 
        position: absolute;
            top: 200px; 
    }
    
    #CORREO div button{
        width: 180px; 
        height: 45px; 
        position: absolute;
            left: 700px;
            top: 200px;  
        background: #D9D9D9
    }

    #CORREO div{
        width: 610.47px; 
        height: 300.75px; 
        left: 0px; 
        top: 100px; 
        position: absolute
    }

}

@media screen and (max-width: 800px) {
    body {
        margin: 0; /* Elimina el margen predeterminado del body */
        overflow-x: hidden; /* Evita el desplazamiento horizontal */
    }

    main:first-of-type {
        width: 100%; /* Ocupa el 100% del ancho de la pantalla */
        left: 0; /* Ajusta la posición izquierda a 0 */
    }

    #CORREO div {
        width: 100%; /* Ocupa el 100% del ancho de la pantalla */
        left: 0; /* Ajusta la posición izquierda a 0 */
        top: 50px; /* Ajusta la posición superior según tus necesidades */
    }

    #INVITADO {
        width: 100%; /* Ocupa el 100% del ancho de la pantalla */
        left: 0; /* Ajusta la posición izquierda a 0 */
        top: 200px; /* Ajusta la posición superior según tus necesidades */
    }

    footer {
        margin-top: 0; /* Ajusta el margen superior a 0 */
    }
    
    body{
        overflow-x: hidden;
        background-image: url(../IMAGENES/imagen7-2.jpg);
        background-color: rgba(0, 0, 0, 0.8);
        background-blend-mode: multiply;
        background-size: cover;    
    }

    #LOGO{
        position: absolute;
        top:5px;
        left:37%;
    }

    #LOGO #fotologo2 {
        display: block;
        width: 100px;
        height: auto;
        position: absolute;
        top: -20px;
    }

    main:first-of-type{
        position: absolute;
            top:150px;
            left: 5%;
    }

    main:first-of-type div{
        width: 370px; 
        height: 67.90px; 
    }

    main:first-of-type p{
        left: 28%;
    }

    #CORREO{
        position: absolute;
            top:-150px;

    }
    
    #CORREO div{
        width: 792px; 
        position: absolute;
            top: 430px;
    }
    
    #CORREO div input[type="text"]{
        width: 365px; 
        height: 50px; 
        position: absolute;
            top: 150px;
            left: 20px; 
    }
    
    #CORREO div button{
        width: 100px; 
        height: 40px; 
        position: absolute;
            left: 20px;
            top: 220px;  
        background: #D9D9D9
    }

    #CORREO #ENTRA{
        width: 320px;
        height: 50px;
        top: -25px;
        left:20px;
    }

    #INVITADO{
        position: absolute;
            top:600px;
            left: 5%;
    }

    #INVITADO div{
        width: 370px; 
        height: 67.90px; 
    }

    #INVITADO p{
        left: 35%;
    }
    

    footer{
        position: absolute;
        margin-top: 800px;
        background-color: #C4C4C4;
        width: 100%;
        height: 100px;
    }

    footer p{
        top: -30px;
        left: 28%;
        font-size: 2.5rem;
    }

    #LOGO #fotologo, #LOGO p, #LOGO #LIFE  {
        display: none;
    }
    
    footer img{
        display: none;
    }

    
}



