body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

span{
    position: relative;
        left:-20px;
}

.login-container {
    display: flex;
    height: 100vh;
}

.background-image {
    flex: 1;
    background: url('../IMAGENES/imagen14.jpg') center/cover no-repeat;
}

.form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

#mensajeDisponibilidad{
    margin-left: 20px;
}

form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="file"] {
    width: 94%;
    padding: 5px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    width: 60%;
    height: 30px;
    margin-left: 20%;
    background-color: #f5f5f5;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
}



.logo-container {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: auto;
}

.logo-container img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 500px) {
    .background-image {
        display: none;
    }

    span{
        top: -40px;
        left:360px;
    }

    form {
        max-width: 600px;
        height: 100%;
    }

    .logo-container {
        left: 40%;
        width: 80px;
        height: 80px;
        border-radius: 100%;
    }


    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
        margin-bottom: 15px;
    }

    #google{
        margin-top: 50px;
    }

}
